#iworks-pwa-add-button-container {
    text-align: center;
}
#iworks-pwa-add-button {
    margin: 1em;
    border: 1px solid rgba( 0, 0, 0, .7 );
    background-color: #fff;
    color: #000;
    &:hover {
        background-color: #ddd;
    }
}
